.metric {
  display: flex;
  flex-direction: column;

  color: var(--color-gray-700);
  gap: 0.5rem;
}

.metric-title {
  font-weight: normal;
  text-transform: uppercase;
}

.metric-value {
  font-weight: bold;
  font-size: 2rem;
}
