@use "src/global/styles/breakpoints" as *;

.card-form--row {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;

  @include breakpoints(from-sm) {
    align-items: center;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
  }

  @include breakpoints(from-md) {
    gap: 2em;
  }

  & > * {
    flex: 1 1 100%;
  }
}

.card-form--fieldset {
  display: contents;
}

.card-type--options {
  box-sizing: border-box;
  display: flex;

  .card-type--option {
    box-sizing: border-box;
    display: flex;
    font-size: 16px;

    & > label {
      background: var(--color-gray-200);
      border: none;
      color: var(--color-gray-500);
      cursor: pointer;
      padding: 0.5em 0.75em;
      position: relative;
    }

    &:first-child > label {
      border-radius: 8px 0 0 8px;
    }

    &:last-child > label {
      border-radius: 0 8px 8px 0;
    }

    & > input[type="radio"]:checked + label {
      background: var(--color-green-600);
      color: #fff;
    }

    & > input[type="radio"]:focus-visible + label, {
      outline: 2px solid indianred;
      outline: 2px solid -webkit-focus-ring-color;
      z-index: 1;
    }
  }
}

.card--cvc {
  color: var(--color-gray-400);
  font-size: 14px;
}

.card--expiration {
  color: var(--color-gray-400);
  font-size: 14px;
  margin-left: 0.5em;
}


