.input {
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  flex: 1;
  font-size: 16px;
  padding: 0.75em 1em;
}

.input::placeholder {
  color: var(--color-gray-400);
}

.input--top-label {
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  & > span {
    font-weight: bold;
  }
}
